$background-primary:#131516 !important;
$background-secondary:#161718 !important;
$background-hover: #181a1a !important;

$text-primary: #948F88 !important;
$text-secondary: #9E9494 !important;

$is-danger: #6f0016 !important;
$is-link: #164186 !important;
$is-primary: #008571 !important;