@import "src/scss/variables";

.menu-label {
    color: $third-color;
}

.menu-list {
    &__column {
        margin-bottom: 0.5rem;
    }
}

.hero {
    &__body {
        flex-grow: 1;
        flex-shrink: 0;
        padding: 1.5rem 1.5rem;
    }
}

.footer {
    &__link {
        color: $primary-color;
    }
}

.margin-left {
    padding-left: 0.3rem;
}

.margin-bottom {
    margin-bottom: 0.2rem;
}
